.header-logo-brand {
    font-size: 36px;
    line-height: 48px;
    color: var(--primary-color);
}

.header-logo-image {
    width: 100px;
    height: 100px;
}

.header-bottom {
    background: rgba(3, 77, 162, 0.67);
}
