/*=============== SCROLL BAR của thanh trình duyệt ===============*/
::-webkit-scrollbar {
    width: 6px;
    border-radius: 0.5rem;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

//Header
.header {
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.25);
}

.header-logo {
    width: 40%;
    padding: 20px 0;
}

.header-logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-logo-link {
    display: block;
    width: 60px;
    height: 60px;
}

// Header
.header-brand {
    margin-top: 12px;
}

.header-brand-subtitle {
    font-size: 18px;
}

.header-brand-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 6px;
}

.header-brand-subtitle,
.header-brand-title {
    color: var(--primary-color);
}

.header-title {
    width: 60%;
    padding: 20px 0;
    background: var(--primary-color);
}

.header-title-text {
    font-size: 32px;
    font-weight: 600;
    color: var(--white-color);
}

// Content
.content-item {
    padding-top: 24px;
}

.content-item-title span {
    height: 1px;
    background: #ccc;
}

.content-item-title .content-item-text {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

.content-container {
    padding: 0 24px;
    margin: 20px auto;
}

.content-container-item {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 24px;

    &.content-full {
        display: block;
        width: 100%;
        margin-top: 18px;
    }
}

.content-full-item {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 24px;
}
.custom-placeholder.ant-select-selection-placeholder::placeholder {
    color: #ff6600 !important;
}

.content-gioiTinhAndDanToc,
.content-name {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
}

.content-infor {
    margin-top: 18px;

    &.message input,
    .message select {
        border-color: red;
    }

    & p {
        color: red;
        margin-top: 6px;
        padding-left: 12px;
    }

    & p.content-item-input {
        display: flex;
        align-items: center;
    }
}

.content-item-label {
    display: block;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 12px;
}

.content-item-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 12px;
    color: #ff6600;
    background-color: var(--white-color);

    &::placeholder {
        color: #ff6600;
    }

    &.disable {
        background: #cbd5e1;
    }
}

.content-scores {
    justify-content: space-between;
    display: flex;
}

.content-Fieldofstudy-item,
.content-infor-group {
    display: flex;
    align-items: center;
}

.content-Fieldofstudy-item {
    & .content-item-label {
        margin-bottom: 0;
        margin-right: 48px;
        text-wrap: nowrap;
    }
}

.content-scores,
.content-score-option {
    & .content-item-label {
        margin-bottom: 0;
        margin-right: 24px;
    }

    & .content-item-input {
        width: 50px;
        text-align: center;
        padding-left: 0;
    }

    & select.content-item-input {
        width: 160px;
        text-align: left;
        padding-left: 12px;

        & ~ .content-item-input {
            margin-left: 12px;
        }
    }
}

.content-score-option,
.content-Fieldofstudy,
.content-scores {
    width: 688px;
    margin: 0 auto;
}

.content-score-option {
    & .content-item-label {
        margin-bottom: 0;
        margin-right: 12px;
    }
}

.content-Fieldofstudy {
    & .message {
        margin-top: 6px;
        color: red;
        padding-left: 12px;
    }
}

// Modal
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.modal-container {
    margin: 10px 20px;
    position: relative;
    animation: zoom 0.3s ease;
}

.modal-img {
    width: 460px;
    height: auto;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
}

.btn-close {
    border-radius: 3px;
    border: none;
    width: 100%;
    padding: 1px 8px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    background: #fff;
    color: red;
    border: 2px solid red;
}

.btn-close:hover {
    color: red;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

// Modbile adnd table
@media (max-width: 63.9375em) {
    .header-brand-title {
        font-size: 16px;
    }

    .header-brand-subtitle {
        font-size: 14px;
    }

    .header-title-text {
        font-size: 18px;
        padding: 10px;
    }

    .content-scores {
        flex-direction: column;
    }

    .content-Fieldofstudy,
    .content-score-option,
    .content-scores {
        width: 100%;
        margin: 0;
    }

    .content-Fieldofstudy-item,
    .content-score-option,
    .content-scores {
        & .content-item-label {
            width: 50%;
            margin-right: 8px;
        }
    }

    .modal-content {
        width: 62% !important;
    }
}

.content-note {
    color: red;
    font-style: italic;
    margin-top: 24px;
    padding: 0 24px;
}

.content-group-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.content-images {
    & th,
    td {
        color: var(--primary-color);
    }
}

.btn-submit,
.content-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    padding: 8px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.content-btn {
    margin: 0 auto;
    margin-top: 16px;

    &:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
}

.btn-submit {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.content-btn-icon {
    margin-right: 6px;
}

.content-images-col-1 {
    width: 10%;
}

.content-images-col-2 {
    width: 50%;
}

.content-images-item {
    width: calc(200px * 16 / 9);
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
    cursor: pointer;

    & ~ .content-images-item {
        margin-top: 6px;
    }
}

.content-images-list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

//table
@media (min-width: 48em) and (max-width: 63.9375em) {
    .content-container {
        padding: 0 16px;
    }

    .content-full-item,
    .content-container-item {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 16px;
    }

    .content-full-item {
        row-gap: 10px;
    }

    .content-gioiTinhAndDanToc,
    .content-name {
        column-gap: 16px;
    }

    .content-infor {
        margin-top: 10px;
    }

    .content-Fieldofstudy-item,
    .content-score-option,
    .content-scores {
        & .content-item-label {
            width: 25%;
            margin-right: 16px;
        }
    }

    .content-Fieldofstudy-item {
        & .content-item-label {
            margin-right: 64px;
        }
    }
}

//mobile
@media (max-width: 47.9375em) {
    .header {
        flex-direction: column;
    }

    .header-title,
    .header-logo {
        width: 100%;
        padding: 10px;
    }

    .content-container {
        padding: 0 10px;
    }

    .content-container-item {
        grid-template-columns: 1fr;
        margin-top: 16px;
    }

    .content-gioiTinhAndDanToc,
    .content-name {
        grid-template-columns: 1fr;
        column-gap: 6px;
    }

    .content-infor {
        margin-top: 6px;
    }

    .content-full-item {
        grid-template-columns: 1fr;
        column-gap: 6px;
        row-gap: 6px;
    }

    .content-score-option-item {
        & .content-infor-group {
            align-items: start;
            flex-direction: column;

            & .content-item-label {
                margin-bottom: 8px;
            }

            & select.content-item-input {
                width: calc(50vw - 16px);

                & ~ .content-item-input {
                    margin-left: 12px;
                }
            }
        }
    }

    .content-Fieldofstudy-item {
        align-items: start;
        flex-direction: column;

        & select.content-item-input {
            width: 100%;
            margin-top: 8px;
        }
    }

    .content-images-item {
        width: calc(100px * 16 / 9);
        height: 100px;
    }

    .content-note {
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: justify;
        padding: 0;
    }
}

//Mobile
@media (min-width: 40em) {
    .container {
        width: 100%;
    }
}

// @media screen and (min-width: 1025px) {
//     .modal-img {
//         width: 800px !important;
//         height: auto;
//     }
// }

@media screen and (max-width: 1024px) {
    .modal-img {
        width: 460px !important;
        height: auto;
    }
}
